section.text-section {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

section.text-section div.content-wrapper {
  display: flex;
  flex-direction: column;

  width: 40%;
  height: 100%;
  overflow: hidden;
}

section.text-section div.content-wrapper.justify {
  width: 50%;
  justify-content: space-between;
}

section.text-section div.content-wrapper img {
  margin-top: 5vh;
  width: fit-content;
  height: 100%;
}

@media screen and (max-width: 768px) {
  section.text-section div.content-wrapper {
    width: 100%;
    height: fit-content;
  }

  section.text-section div.content-wrapper.justify {
    width: 100%;
  }

  section.text-section div.content-wrapper img {
    display: none;
  }
}
