footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-top: 10vh;
}
#containerImg {
  position: absolute;
  top: -2rem;
  display: flex;
  gap: 60vw;
}
#imgLogo {
  width: 10rem;
}
#btnCima {
  width: 4rem;
  height: 4rem;

  cursor: pointer;
  transition: 0.2s all;
}

#btnCima:hover {
  transform: scale(1.05);
}

#containerConteudo {
  color: white;
  margin: 5rem auto 3rem auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#containerConteudo span {
  display: flex;

  align-items: center;
}

#containerConteudo span a {
  margin-left: 2vh;
}

#logoAgrocafe {
  width: 15rem;
}
#fio {
  height: 3rem;
}
#portifolioAssinatura {
  width: 5rem;
}

#containerSerafim {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: auto;
  padding-block: 2rem;
  padding-inline: 1rem;
  border-radius: 10px 10px 0 0;
  background: black;
}
#containerSerafim img {
  width: 10rem;
}

@media screen and (max-width: 768px) {
  #containerImg {
    padding-inline: 3rem;
    top: -1rem;
  }
  #imgLogo {
    width: 5rem;
  }
  #btnCima {
    width: 2.5rem;
    height: 2.5rem;
  }
  #containerConteudo {
    display: flex;
    flex-direction: column;

    gap: 3rem;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #containerConteudo span {
    color: white;
    padding-top: 0.5rem;
    width: fit-content;
  }
  #logoAgrocafe {
    width: 10rem;
  }
  #fio {
    display: none;
  }
  #portifolioAssinatura {
    width: 4rem;
  }
  #containerSerafim {
    padding-block: 1.5rem 1rem;
    padding-inline: 1.5rem;
  }
  #containerSerafim img {
    width: 6rem;
  }
}
