@import url("./assets/fontes/stylesheet.css");
@import url("./cores.css");

* {
  margin: 0;
  padding: 0;

  font-family: "Dincon Regular", sans-serif;
}

body,
:root {
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
